<body style="margin:0;">
  <!-- <ul>
    <li><a href="#home">Skills</a></li>
    <li><a href="#home">Projects</a></li>
  </ul> -->
    <nav>
        <a style="color:#7dba5c;" href="/html/">Home</a>
      <a href="/html/">About & Skills</a> 
      <a href="/css/">Portfolio</a> 
      <a href="/html/">Github</a>
    </nav>
    <div style="position:absolute;top: 40%;left:36%;">
      <label class= Name>Venkata Pavan Karnati</label><br>
      <label class= About>Student | Full Stack Developer</label>
    </div>    
  <router-outlet></router-outlet>
</body>